HotelByCityIdService/schemas/HotelByCityId_response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" 
nxsd:version="JSON" 
nxsd:encoding="UTF-8">
  <xs:element name="response"> 
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Resposta" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="id" minOccurs="0" />
              <xs:element type="xs:string" name="cityName" minOccurs="0" />
              <xs:element name="rooms" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <!--<xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>-->
                          <xs:element type="xs:int" name="roomID" minOccurs="0" />
                          <xs:element type="xs:string" name="categoryName" minOccurs="0" />
                          <xs:element type="xs:decimal" name="totalPrice" minOccurs="0" />
                          <xs:element name="priceDetail" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:decimal" name="pricePerDayAdult" minOccurs="0" />
                                <xs:element type="xs:decimal" name="pricePerDayChild" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        <!--</xs:sequence>
                      </xs:complexType>
                    </xs:element>-->
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>