common/types/SystemV1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema	elementFormDefault="qualified"
	          xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://telefonica.br/Common/System/v1"
	      xmlns:tns="http://telefonica.br/Common/System/v1">

  <complexType name="SystemType">
    <annotation>
      <documentation xml:lang="pt">
        Representação de sistema.
      </documentation>
    </annotation>
    
    <sequence>
      <element name="id" type="int" minOccurs="0" maxOccurs="1"/>
      <element name="name" type="string" minOccurs="0" maxOccurs="1"/>
    </sequence>
  </complexType>
  
  <element name="System" type="tns:SystemType"/>
  
</schema>
